name: Create Unity Package

on:
  push:
    branches:
      - master

jobs:
  create:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate file list for Unity package
        run: |
          if [ ! -d "Source" ]; then
            echo "Source directory not found"
            exit 1
          fi

          find Source -type f > fileList

      - name: Create Unity Package
        uses: pCYSl5EDgo/create-unitypackage@master
        with:
          package-path: AutoVariables.unitypackage
          include-files: fileList

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Unity Package to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: AutoVariables.unitypackage
          asset_name: AutoVariables.unitypackage
          asset_content_type: application/octet-stream
