name: Build UnityPackage

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get tag name
        id: tag
        run: |
          echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Set variables
        run: |
          echo "PACKAGE_NAME=AutoVariable" >> $GITHUB_ENV
          echo "UNITYPACKAGE=AutoVariable-${TAG_NAME}.unitypackage" >> $GITHUB_ENV

      - name: Track meta files
        run: |
          find Source/ -name "*.meta" > m*
